# FINM 33150: Quantitative Trading Strategies Homework 3, Financial Ratio Quantile Strategy
#### Author: Joshua Weekes
#### Due Date: 2/1/2024

#### Sections:

1. Introduction

2. Package Imports

3. Helper Functions

4. Data Import

5. Trading Helper Functions

6. Parameter Initialization

7. Trading Algorithm Logic

8. Running Trading Algortihm on DIfferent Parameter Sets

9. Results

10. Analysis

11. Conclusion

# Introduction

# Package Imports and API/Date Range Initialization

In [141]:
import os
import pandas as pd
import numpy as np
import quandl
from matplotlib import pyplot as plt
from matplotlib import dates
import seaborn as sns
import statsmodels.api as sm
from datetime import date
import datetime
import functools
import random

from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_business_day = CustomBusinessDay(calendar=USFederalHolidayCalendar())

global api_key
api_key = 'ykKjRrdMDZk8sVyrhPEV'
start_date_str = '2016-01-01'
end_date_str = '2023-06-30'
start_date = datetime.datetime.strptime(start_date_str, '%Y-%m-%d')
end_date = datetime.datetime.strptime(end_date_str, '%Y-%m-%d')

# Helper Functions

In [2]:
def grab_quandl_table(
    table_path,
    avoid_download=False,
    replace_existing=False,
    date_override=None,
    allow_old_file=False,
    **kwargs,
):
    root_data_dir = os.path.join(r'C:\Users\joshw\OneDrive\Desktop\UChicago\FINM_33150_quantitative_trading_strategies\data', 'quandl_data_table_downloads')
    data_symlink = os.path.join(root_data_dir, f"{table_path}.zip")
    if avoid_download and os.path.exists(data_symlink):
        print(f"Skipping any possible download of {table_path}")
        return data_symlink
    
    table_dir = os.path.dirname(data_symlink)
    if not os.path.isdir(table_dir):
        print(f'Creating new data dir {table_dir}')
        os.mkdir(table_dir)

    if date_override is None:
        my_date = datetime.datetime.now().strftime("%Y%m%d")
    else:
        my_date = date_override
    data_file = os.path.join(root_data_dir, f"{table_path}_{my_date}.zip")

    if os.path.exists(data_file):
        file_size = os.stat(data_file).st_size
        if replace_existing or not file_size > 0:
            print(f"Removing old file {data_file} size {file_size}")
        else:
            print(
                f"Data file {data_file} size {file_size} exists already, no need to download"
            )
            return data_file

    dl = quandl.export_table(
        table_path, filename=data_file, api_key=api_key, **kwargs
    )
    file_size = os.stat(data_file).st_size
    if os.path.exists(data_file) and file_size > 0:
        print(f"Download finished: {file_size} bytes")
        if not date_override:
            if os.path.exists(data_symlink):
                print(f"Removing old symlink")
                os.unlink(data_symlink)
            print(f"Creating symlink: {data_file} -> {data_symlink}")
            os.symlink(
                data_file, data_symlink,
            )
    else:
        print(f"Data file {data_file} failed download")
        return
    return data_symlink if (date_override is None or allow_old_file) else "NoFileAvailable"

def fetch_quandl_table(table_path, avoid_download=True, **kwargs):
    return pd.read_csv(
        grab_quandl_table(table_path, avoid_download=avoid_download, **kwargs)
    )

# Ratio and Description Data Import

In [62]:
ratio_columns = ['m_ticker', 'ticker', 'currency_code', 'per_end_date', 'per_type', 'tot_debt_tot_equity', 'ret_invst']

ratio_df = fetch_quandl_table('ZACKS/FR', avoid_download=True, per_end_date={'gte': start_date, 'lte': end_date}, per_type='Q', qopts={'columns': ratio_columns})
# print(len(ratio_df['m_ticker'].unique().tolist()))
ratio_df = ratio_df.dropna(subset=['m_ticker'])
# print(len(ratio_df['m_ticker'].unique().tolist()))
# ratio_df['per_end_date'] = pd.to_datetime(ratio_df['per_end_date'], format='%Y-%m-%d')
# ratio_df.loc[ratio_df['m_ticker'] == 'A2']

Data file C:\Users\joshw\OneDrive\Desktop\UChicago\FINM_33150_quantitative_trading_strategies\data\quandl_data_table_downloads\ZACKS/FR_20240201.zip size 2048080 exists already, no need to download

In [63]:
type(ratio_df['per_end_date'][0])

str

In [66]:
unique_ticker_ratio_df = ratio_df.m_ticker.unique().tolist()
description_columns = ['m_ticker', 'ticker', 'active_ticker_flag','zacks_x_sector_code']

description_df = fetch_quandl_table('ZACKS/MT', avoid_download=True, m_ticker=unique_ticker_ratio_df, qopts={'columns': description_columns})
# print(len(description_df['m_ticker'].unique().tolist()))
description_df = description_df.dropna()
# print(len(description_df['m_ticker'].unique().tolist()))
description_df = description_df[description_df['active_ticker_flag'] == 'Y']
description_df = description_df[~ description_df['zacks_x_sector_code'].isin([0.0, 5.0, 13])]
print(len(description_df['m_ticker'].unique().tolist()))

# description_df.head()

Data file C:\Users\joshw\OneDrive\Desktop\UChicago\FINM_33150_quantitative_trading_strategies\data\quandl_data_table_downloads\ZACKS/MT_20240201.zip size 68719 exists already, no need to download
6122

In [88]:
fundamental_columns = ['m_ticker', 'ticker', 'per_end_date', 'per_type', 'filing_date', 'eps_diluted_net', 'basic_net_eps', 'net_lterm_debt', 'tot_lterm_debt']
description_unique_ticker = description_df.m_ticker.unique().tolist()

fundamental_df = fetch_quandl_table('ZACKS/FC', avoid_download=True, per_end_date={'gte': start_date_str, 'lte': end_date_str}, per_type='Q', qopts={'columns': fundamental_columns})
# fundamental_df = fundamental_df.dropna()
fundamental_df = fundamental_df[fundamental_df['m_ticker'].isin(description_unique_ticker)]
fundamental_df['net_lterm_debt'] = fundamental_df['net_lterm_debt'].fillna(0)
print(len(fundamental_df['m_ticker'].unique().tolist()))
fundamental_df = fundamental_df.sort_values(by=['m_ticker', 'per_end_date'], ascending=True)
# fundamental_df['per_end_date'] = pd.to_datetime(fundamental_df['per_end_date'], format='%Y-%m-%d')
# fundamental_df.loc[fundamental_df['m_ticker'] == 'A2']

Data file C:\Users\joshw\OneDrive\Desktop\UChicago\FINM_33150_quantitative_trading_strategies\data\quandl_data_table_downloads\ZACKS/FC_20240201.zip size 2706406 exists already, no need to download
6122

In [87]:
shares_out_columns = ['m_ticker', 'ticker', 'per_end_date', 'per_type', 'shares_out']

shares_out_df = fetch_quandl_table('ZACKS/SHRS', avoid_download=True, per_end_date={'gte': start_date_str, 'lte': end_date_str}, qopts={'columns': shares_out_columns})
# shares_out_df = shares_out_df.dropna()
shares_out_df['m_ticker'] = shares_out_df['m_ticker'].str.replace(' ', '')
shares_out_df = shares_out_df[shares_out_df['m_ticker'].isin(description_unique_ticker)]
print(len(shares_out_df['m_ticker'].unique().tolist()))
# shares_out_df.loc[shares_out_df['m_ticker'] == 'A2']
shares_out_unique_ticker = shares_out_df.m_ticker.unique().tolist()
shares_out = shares_out_df.sort_values(by=['m_ticker', 'per_end_date'], ascending=[True, True])
# shares_out_df['per_end_date'] = pd.to_datetime(shares_out_df['per_end_date'], format='%Y-%m-%d')

Data file C:\Users\joshw\OneDrive\Desktop\UChicago\FINM_33150_quantitative_trading_strategies\data\quandl_data_table_downloads\ZACKS/SHRS_20240201.zip size 1684657 exists already, no need to download
5173

In [70]:
mkvt_columns = ['m_ticker', 'ticker', 'per_end_date', 'per_type', 'mkt_val']

mktv_df = fetch_quandl_table('ZACKS/MKTV', avoid_download=True, per_end_date={'gte': start_date_str, 'lte': end_date_str}, qopts={'columns': mkvt_columns})
# mktv_df = mktv_df.dropna()
mktv_df['m_ticker'] = mktv_df['m_ticker'].str.replace(' ', '')
mktv_df = mktv_df[mktv_df['m_ticker'].isin(description_unique_ticker)]
print(len(mktv_df['m_ticker'].unique().tolist()))
# mktv_df['per_end_date'] = pd.to_datetime(mktv_df['per_end_date'], format='%Y-%m-%d')
mktv_df = mktv_df.sort_values(by=['m_ticker', 'per_end_date'], ascending=[True, True])
# mktv_df.loc[mktv_df['m_ticker'] == 'A2']

Data file C:\Users\joshw\OneDrive\Desktop\UChicago\FINM_33150_quantitative_trading_strategies\data\quandl_data_table_downloads\ZACKS/MKTV_20240201.zip size 2058832 exists already, no need to download
5173

In [44]:
ratio_df = ratio_df.loc[ratio_df['m_ticker'].isin(shares_out_unique_ticker)]
fundamental_df = fundamental_df.loc[fundamental_df['m_ticker'].isin(shares_out_unique_ticker)]
print(len(ratio_df['m_ticker'].unique().tolist()))
print(len(fundamental_df['m_ticker'].unique().tolist()))

5173
5173

In [71]:
def valid_tickers(df, unique_tickers):
    # List to hold tickers that meet the criteria
    valid_tickers = []
    valid_tickers_count = 0
    invalid_ticker_len = []
    
    # Iterate over each unique ticker in the 'm_ticker' column
    for ticker in unique_tickers:
        # Filter the DataFrame for the current ticker
        filtered_df = df[df['m_ticker'] == ticker]
        
        # Check if there are exactly 30 unique dates for the current ticker
        if filtered_df['per_end_date'].nunique() == 30:
            valid_tickers.append(ticker)
            valid_tickers_count += 1
        else:
            invalid_ticker_len.append(filtered_df['per_end_date'].nunique())
    
    return valid_tickers, valid_tickers_count, invalid_ticker_len

In [73]:
ratio_valid_tickers, ratio_valid_tickers_count, ratio_invalid_lens = valid_tickers(ratio_df, shares_out_unique_ticker)
fundamental_valid_tickers, fundamental_valid_tickers_count, fundamental_invalid_lens = valid_tickers(fundamental_df, shares_out_unique_ticker)
shares_out_valid_tickers, shares_out_valid_tickers_count, shares_out_invalid_lens = valid_tickers(shares_out_df, shares_out_unique_ticker)
mktv_valid_tickers, mktv_valid_tickers_count, mktv_invalid_lens = valid_tickers(mktv_df, shares_out_unique_ticker)

In [72]:
ratio_valid_tickers_count

2672

In [47]:
print(ratio_valid_tickers_count)
print(fundamental_valid_tickers_count)
print(shares_out_valid_tickers_count)
print(mktv_valid_tickers_count)

2672

In [89]:
ratio_df = ratio_df.loc[ratio_df['m_ticker'].isin(ratio_valid_tickers)]
fundamental_df = fundamental_df.loc[fundamental_df['m_ticker'].isin(ratio_valid_tickers)]
shares_out_df = shares_out_df.loc[shares_out_df['m_ticker'].isin(ratio_valid_tickers)]
mktv_df = mktv_df.loc[mktv_df['m_ticker'].isin(ratio_valid_tickers)]

In [81]:
print(len(ratio_df['m_ticker'].unique().tolist()))
print(len(fundamental_df['m_ticker'].unique().tolist()))
print(len(shares_out_df['m_ticker'].unique().tolist()))
print(len(mktv_df['m_ticker'].unique().tolist()))

print(len(ratio_df))
print(len(fundamental_df))
print(len(shares_out_df))
print(len(mktv_df))

2672
2672
2672
2672
80160
80160
80160
80160

In [86]:
print(set(ratio_df['m_ticker'].unique().tolist()) == set(fundamental_df['m_ticker'].unique().tolist()) == set(shares_out_df['m_ticker'].unique().tolist()) == set(mktv_df['m_ticker'].unique().tolist()))

True

In [49]:
mktv_df.head()

    m_ticker ticker per_end_date per_type  mkt_val
959     #AAO   AAON   2016-03-31        Q  1485.93
958     #AAO   AAON   2016-06-30        Q  1458.66
957     #AAO   AAON   2016-09-30        Q  1525.30
956     #AAO   AAON   2016-12-31        Q  1743.55
955     #AAO   AAON   2017-03-31        Q  1860.47

In [77]:
len(mktv_df['m_ticker'].unique().tolist())

2672

In [90]:
def same_merge_date(merge_df, df):
    # List to hold tickers that meet the criteria
    same_merge_date_count = 0
    same_merge_date_tickers = []
    
    # Iterate over each unique ticker in the 'm_ticker' column
    for ticker in merge_df['m_ticker'].unique().tolist():
        # Filter the DataFrame for the current ticker
        filtered_merge_df = merge_df.loc[merge_df['m_ticker'] == ticker]
        filtered_df = df.loc[df['m_ticker'] == ticker]
        
        # Check if there are exactly 30 unique dates for the current ticker
        if set(filtered_merge_df['per_end_date'].unique().tolist()) == set(filtered_df['per_end_date'].unique().tolist()):
            same_merge_date_count += 1
            same_merge_date_tickers.append(ticker)
    
    return same_merge_date_count, same_merge_date_tickers

In [91]:
merge1_same_merge_date_count, merge1_same_merge_date_tickers = same_merge_date(ratio_df, fundamental_df)
merge1_same_merge_date_count

2672

In [92]:
merge2_same_merge_date_count, merge2_same_merge_date_tickers = same_merge_date(ratio_df, shares_out_df)
merge2_same_merge_date_count

2672

In [93]:
merge3_same_merge_date_count, merge3_same_merge_date_tickers = same_merge_date(ratio_df, mktv_df)
merge3_same_merge_date_count

2395

In [94]:
ratio_df = ratio_df.loc[ratio_df['m_ticker'].isin(merge3_same_merge_date_tickers)]
fundamental_df = fundamental_df.loc[fundamental_df['m_ticker'].isin(merge3_same_merge_date_tickers)]
shares_out_df = shares_out_df.loc[shares_out_df['m_ticker'].isin(merge3_same_merge_date_tickers)]
mktv_df = mktv_df.loc[mktv_df['m_ticker'].isin(merge3_same_merge_date_tickers)]

print(len(ratio_df['m_ticker'].unique().tolist()))
print(len(fundamental_df['m_ticker'].unique().tolist()))
print(len(shares_out_df['m_ticker'].unique().tolist()))
print(len(mktv_df['m_ticker'].unique().tolist()))

2395
2395
2395
2395

In [202]:
zacks_df = pd.merge(fundamental_df, ratio_df[['m_ticker', 'per_end_date', 'currency_code', 'tot_debt_tot_equity', 'ret_invst']], on=['m_ticker', 'per_end_date'], how='left')
zacks_df = pd.merge(zacks_df, shares_out_df[['m_ticker', 'per_end_date', 'shares_out']], on=['m_ticker', 'per_end_date'], how='left')
zacks_df = pd.merge(zacks_df, mktv_df[['m_ticker', 'per_end_date', 'mkt_val']], on=['m_ticker', 'per_end_date'], how='left')

zacks_df['tot_debt_tot_equity'] = zacks_df['tot_debt_tot_equity'].fillna(0)
zacks_df['tot_lterm_debt'] = zacks_df['tot_lterm_debt'].fillna(0)

zacks_df['filing_date'] = pd.to_datetime(zacks_df['filing_date'], format='%Y-%m-%d')
zacks_df['per_end_date'] = pd.to_datetime(zacks_df['per_end_date'], format='%Y-%m-%d')

zacks_df['filing_date'] = zacks_df['filing_date'] + us_business_day

zacks_df = zacks_df.drop(['per_type'], axis=1)

# zacks_df['per_end_date'] = pd.to_datetime(zacks_df['per_end_date'], format='%Y-%m-%d')

C:\Users\joshw\AppData\Local\Temp\ipykernel_23172\1801510477.py:11: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.
  zacks_df['filing_date'] = zacks_df['filing_date'] + us_business_day

In [203]:
def tot_debt_tot_equity_check_tickers(df):
    # List to hold tickers that meet the criteria
    tot_debt_tot_equity_check_m_tickers = []
    tot_debt_tot_equity_check_tickers = []
    ticker_dict = {}
    
    # Iterate over each unique ticker in the 'm_ticker' column
    for m_ticker in df['m_ticker'].unique().tolist():
        # Filter the DataFrame for the current ticker
        filtered_df = df[df['m_ticker'] == m_ticker]
        
        # Check if there are exactly 30 unique dates for the current ticker
        if (filtered_df['tot_debt_tot_equity'] > .1).sum() > (filtered_df['tot_debt_tot_equity'] < .1).sum():
            tot_debt_tot_equity_check_m_tickers.append(m_ticker)
            tot_debt_tot_equity_check_tickers.append(filtered_df['ticker'].unique().tolist()[-1])
            ticker_dict[m_ticker] = filtered_df['ticker'].unique().tolist()[-1]

    
    return tot_debt_tot_equity_check_m_tickers, tot_debt_tot_equity_check_tickers, ticker_dict

In [204]:
zacks_check_m_tickers, zacks_check_tickers, ticker_dict = tot_debt_tot_equity_check_tickers(zacks_df)

In [205]:
print(len(zacks_check_m_tickers))
print(len(zacks_check_tickers))

1506
1506

In [206]:
print(len(zacks_df['m_ticker'].unique().tolist()))
print(len(zacks_df['ticker'].unique().tolist()))
zacks_df.head(30)

2395
2395

,m_ticker,ticker,per_end_date,filing_date,eps_diluted_net,basic_net_eps,net_lterm_debt,tot_lterm_debt,currency_code,tot_debt_tot_equity,ret_invst,shares_out,mkt_val
0,#AAO,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.000,0.000,USD,0.0000,6.1223,79.60,1485.93
1,#AAO,AAON,2016-06-30,2016-08-05,0.1800,0.1800,0.000,0.000,USD,0.0000,7.5519,79.54,1458.66
2,#AAO,AAON,2016-09-30,2016-11-04,0.1933,0.2000,0.000,0.000,USD,0.0000,7.6581,79.39,1525.30
3,#AAO,AAON,2016-12-31,2017-02-24,0.1467,0.1467,0.000,0.000,USD,0.0000,5.5455,79.13,1743.55
4,#AAO,AAON,2017-03-31,2017-05-05,0.1267,0.1267,0.000,0.000,USD,0.0000,4.8240,78.94,1860.47
5,#AAO,AAON,2017-06-30,2017-08-04,0.1733,0.1733,0.000,0.000,USD,0.0000,6.3349,78.94,1939.42
6,#AAO,AAON,2017-09-30,2017-11-03,0.1867,0.1867,0.000,0.000,USD,0.0000,6.3904,78.90,1813.51
7,#AAO,AAON,2017-12-31,2018-02-28,0.1867,0.2000,0.000,0.000,USD,0.0000,6.3661,78.70,1925.59
8,#AAO,AAON,2018-03-31,2018-05-04,0.0533,0.0533,0.000,0.000,USD,0.0000,1.7779,78.64,2044.77
9,#AAO,AAON,2018-06-30,2018-08-03,0.1467,0.1467,0.000,0.000,USD,0.0000,4.9032,78.54,1741.04
10,#AAO,AAON,2018-09-30,2018-11-02,0.1800,0.1800,0.000,0.000,USD,0.0000,5.6424,78.14,1969.17
11,#AAO,AAON,2018-12-31,2019-03-01,0.1533,0.1600,0.000,0.000,USD,0.0000,4.9282,78.14,1826.43
12,#AAO,AAON,2019-03-31,2019-05-03,0.1133,0.1400,0.000,0.000,USD,0.0000,3.3763,78.11,2404.65
13,#AAO,AAON,2019-06-30,2019-08-02,0.1667,0.1667,0.000,0.000,USD,0.0000,5.0614,78.16,2614.73
14,#AAO,AAON,2019-09-30,2019-11-01,0.1733,0.1800,0.000,0.000,USD,0.0000,5.1115,78.15,2393.36
15,#AAO,AAON,2019-12-31,2020-02-28,0.2267,0.2200,6.614,0.000,USD,0.0000,5.9533,78.15,2574.14
16,#AAO,AAON,2020-03-31,2020-05-08,0.2733,0.2800,0.000,0.000,USD,0.0000,7.1340,78.08,2515.12
17,#AAO,AAON,2020-06-30,2020-08-07,0.2267,0.2267,0.000,0.000,USD,0.0000,5.5173,78.05,2824.79
18,#AAO,AAON,2020-09-30,2020-11-06,0.2533,0.2600,0.000,0.000,USD,0.0000,5.9323,78.39,3148.77
19,#AAO,AAON,2020-12-31,2021-02-26,0.2400,0.2400,0.000,0.000,USD,0.0000,5.3844,78.36,3480.89
20,#AAO,AAON,2021-03-31,2021-05-07,0.2000,0.2067,0.000,0.000,USD,0.0000,4.3899,78.62,3669.32
21,#AAO,AAON,2021-06-30,2021-08-06,0.2533,0.2600,0.000,0.000,USD,0.0000,5.3723,78.65,3281.92
22,#AAO,AAON,2021-09-30,2021-11-05,0.1933,0.2000,0.000,0.000,USD,0.0000,3.8925,78.61,3424.06
23,#AAO,AAON,2021-12-31,2022-03-01,0.0800,0.0800,0.000,40.000,USD,0.0858,1.2221,78.64,4164.36
24,#AAO,AAON,2022-03-31,2022-05-06,0.2200,0.2267,0.000,65.000,USD,0.1354,3.3126,78.86,2929.75
25,#AAO,AAON,2022-06-30,2022-08-09,0.2000,0.2000,-0.028,106.249,USD,0.2166,2.6721,79.61,2906.18
26,#AAO,AAON,2022-09-30,2022-11-08,0.3400,0.3467,-0.115,76.291,USD,0.1456,4.5777,79.74,2864.19
27,#AAO,AAON,2022-12-31,2023-02-28,0.4800,0.4867,-0.115,71.004,USD,0.1266,6.1575,79.80,4006.99
28,#AAO,AAON,2023-03-31,2023-05-05,0.4467,0.4600,0.000,83.664,USD,0.1373,5.3117,81.19,5233.39
29,#AAO,AAON,2023-06-30,2023-08-04,0.5467,0.5600,6.061,78.536,USD,0.1190,6.1846,81.45,5148.18

In [243]:
daily_close_df = fetch_quandl_table('QUOTEMEDIA/PRICES', avoid_download=True, ticker=zacks_check_tickers, date={'gte': start_date_str, 'lte': end_date_str})
daily_close_df['date'] = pd.to_datetime(daily_close_df['date'], format='%Y-%m-%d')
daily_close_df.head(30)

Data file C:\Users\joshw\OneDrive\Desktop\UChicago\FINM_33150_quantitative_trading_strategies\data\quandl_data_table_downloads\QUOTEMEDIA/PRICES_20240201.zip size 92177394 exists already, no need to download

,ticker,date,open,high,low,close,volume,dividend,split,adj_open,adj_high,adj_low,adj_close,adj_volume
0,AA,2016-11-01,22.10,23.5500,21.7800,23.00,32216510.0,0.0,1.0,21.640207,23.060040,21.326865,22.521483,32216510.0
1,AA,2016-11-02,22.67,23.2650,22.6358,22.91,10755328.0,0.0,1.0,22.198349,22.780970,22.164860,22.433355,10755328.0
2,AA,2016-11-03,22.96,24.3493,22.9400,24.15,8083097.0,0.0,1.0,22.482315,23.842711,22.462731,23.647557,8083097.0
3,AA,2016-11-04,23.82,25.5000,23.5600,25.20,6878500.0,0.0,1.0,23.324423,24.969470,23.069832,24.675712,6878500.0
4,AA,2016-11-07,25.54,26.4100,24.8900,25.08,8377025.0,0.0,1.0,25.008638,25.860538,24.372161,24.558208,8377025.0
5,AA,2016-11-08,24.30,26.5900,24.3000,26.40,6469979.0,0.0,1.0,23.794436,26.036793,23.794436,25.850746,6469979.0
6,AA,2016-11-09,26.83,29.1400,26.0000,28.72,10675856.0,0.0,1.0,26.271799,28.533740,25.459068,28.122478,10675856.0
7,AA,2016-11-10,29.08,29.7000,28.3000,29.10,8189887.0,0.0,1.0,28.474988,29.082089,27.711216,28.494572,8189887.0
8,AA,2016-11-11,29.18,29.9900,27.6300,29.30,5337239.0,0.0,1.0,28.572907,29.366055,27.055155,28.690411,5337239.0
9,AA,2016-11-14,29.50,29.9400,28.6100,29.62,5156737.0,0.0,1.0,28.886250,29.317096,28.014766,29.003753,5156737.0
10,AA,2016-11-15,28.94,30.2300,28.8300,30.21,3668883.0,0.0,1.0,28.337901,29.601062,28.230189,29.581478,3668883.0
11,AA,2016-11-16,29.69,31.6900,29.6600,31.42,6150098.0,0.0,1.0,29.072297,31.030687,29.042921,30.766304,6150098.0
12,AA,2016-11-17,31.30,32.0200,30.7700,31.85,4693203.0,0.0,1.0,30.648801,31.353821,30.129827,31.187358,4693203.0
13,AA,2016-11-18,31.73,31.7700,30.1600,30.42,4421730.0,0.0,1.0,31.069854,31.109022,29.532518,29.787109,4421730.0
14,AA,2016-11-21,30.89,30.9800,29.5010,30.69,2986107.0,0.0,1.0,30.247331,30.335458,28.887229,30.051492,2986107.0
15,AA,2016-11-22,31.10,31.9100,30.5400,31.34,4182721.0,0.0,1.0,30.452962,31.246110,29.904612,30.687968,4182721.0
16,AA,2016-11-23,31.00,31.9300,30.0000,31.51,4112265.0,0.0,1.0,30.355042,31.265693,29.375847,30.854432,4112265.0
17,AA,2016-11-25,31.24,32.1900,31.1100,31.70,3109628.0,0.0,1.0,30.590049,31.520284,30.462754,31.040479,3109628.0
18,AA,2016-11-28,31.48,31.8000,30.7000,30.86,5121935.0,0.0,1.0,30.825056,31.138398,30.061284,30.217955,5121935.0
19,AA,2016-11-29,30.02,30.4999,29.7300,29.73,4927708.0,0.0,1.0,29.395431,29.865347,29.111465,29.111465,4927708.0
20,AA,2016-11-30,30.06,30.4400,28.8500,28.97,5131539.0,0.0,1.0,29.434599,29.806693,28.249773,28.367276,5131539.0
21,AA,2016-12-01,28.84,29.4200,28.6000,28.88,5006186.0,0.0,1.0,28.239981,28.807914,28.004974,28.279149,5006186.0
22,AA,2016-12-02,28.86,29.6250,28.7300,29.04,3870676.0,0.0,1.0,28.259565,29.008649,28.132270,28.435820,3870676.0
23,AA,2016-12-05,29.03,31.2768,28.8900,31.22,7034136.0,0.0,1.0,28.426028,30.626083,28.288941,30.570465,7034136.0
24,AA,2016-12-06,30.71,31.1900,30.2100,31.15,3248595.0,0.0,1.0,30.071076,30.541089,29.581478,30.501921,3248595.0
25,AA,2016-12-07,31.30,31.8900,30.7653,30.90,5778259.0,0.0,1.0,30.648801,31.226526,30.125225,30.257123,5778259.0
26,AA,2016-12-08,31.28,31.8400,30.8000,31.31,3064978.0,0.0,1.0,30.629217,31.177566,30.159203,30.658593,3064978.0
27,AA,2016-12-09,31.31,32.1100,31.0400,32.05,4344295.0,0.0,1.0,30.658593,31.441948,30.394210,31.383197,4344295.0
28,AA,2016-12-12,32.16,32.3500,30.8500,31.24,3416012.0,0.0,1.0,31.490908,31.676955,30.208163,30.590049,3416012.0
29,AA,2016-12-13,31.40,31.7300,30.0300,30.24,4215143.0,0.0,1.0,30.746720,31.069854,29.405223,29.610854,4215143.0

In [239]:
daily_close_df.columns

Index(['ticker', 'date', 'open', 'high', 'low', 'close', 'volume', 'dividend',
       'split', 'adj_open', 'adj_high', 'adj_low', 'adj_close', 'adj_volume'],
      dtype='object')

In [245]:
daily_df = pd.merge(zacks_df, daily_close_df[['ticker', 'date', 'adj_close']], left_on=['ticker', 'filing_date'], right_on=['ticker', 'date'], how='right')
daily_df.head(30)

MemoryError: Unable to allocate 20.1 MiB for an array with shape (2629579,) and data type int64

In [207]:
date_range = pd.date_range(start=start_date, end=end_date, freq=us_business_day)
zacks_tickers = zacks_df['m_ticker'].unique().tolist()

In [208]:
# Create a multi-index from all combinations of stocks and the business day date range
multi_index = pd.MultiIndex.from_product([zacks_tickers, date_range], names=['m_ticker', 'daily_date'])

# Create an expanded DataFrame with this multi-index
empty_daily_df = pd.DataFrame(index=multi_index).reset_index()

# Merge the expanded DataFrame with the original data
zacks_daily_df = pd.merge(empty_daily_df, zacks_df, left_on=['m_ticker', 'daily_date'], right_on=['m_ticker', 'filing_date'], how='left')

# Forward fill the missing quarterly data
forward_fill_columns = ['ticker', 'currency_code', 'filing_date', 'per_end_date', 'tot_debt_tot_equity', 'net_lterm_debt', 'tot_lterm_debt', 'shares_out', 'eps_diluted_net', 'basic_net_eps', 'ret_invst']
zacks_daily_df[forward_fill_columns] = zacks_daily_df.groupby('m_ticker')[forward_fill_columns].ffill()
# zacks_daily_df['currency_code'] = zacks_daily_df.groupby('m_ticker')['currency_code'].ffill()
# zacks_daily_df['filing_date'] = zacks_daily_df.groupby('m_ticker')['filing_date'].ffill()
# zacks_daily_df['per-end_date'] = zacks_daily_df.groupby('m_ticker')['per_end_date'].ffill()
# zacks_daily_df['tot_debt_tot_equity'] = zacks_daily_df.groupby('m_ticker')['tot_debt_tot_equity'].ffill()

first_dates = zacks_daily_df.groupby('m_ticker')['filing_date'].min().rename('FirstDate')

# Merge the first dates back into the original DataFrame
zacks_daily_df = zacks_daily_df.merge(first_dates, on='m_ticker')

# Filter out rows where 'Other_Date' is less than the first non-NaN 'Date'
zacks_daily_df = zacks_daily_df[zacks_daily_df['daily_date'] >= zacks_daily_df['FirstDate']]

# Optionally drop the auxiliary 'FirstDate' column
zacks_daily_df.drop(columns=['FirstDate'], inplace=True)


zacks_daily_df.head(30)
# Drop unnecessary columns and adjust as needed
# final_df = merged_df.drop(columns=['ReportDate']).sort_values(by=['Stock', 'Date'])

,m_ticker,daily_date,ticker,per_end_date,filing_date,eps_diluted_net,basic_net_eps,net_lterm_debt,tot_lterm_debt,currency_code,tot_debt_tot_equity,ret_invst,shares_out,mkt_val
87,#AAO,2016-05-06,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,1485.93
88,#AAO,2016-05-09,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
89,#AAO,2016-05-10,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
90,#AAO,2016-05-11,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
91,#AAO,2016-05-12,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
92,#AAO,2016-05-13,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
93,#AAO,2016-05-16,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
94,#AAO,2016-05-17,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
95,#AAO,2016-05-18,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
96,#AAO,2016-05-19,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
97,#AAO,2016-05-20,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
98,#AAO,2016-05-23,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
99,#AAO,2016-05-24,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
100,#AAO,2016-05-25,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
101,#AAO,2016-05-26,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
102,#AAO,2016-05-27,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
103,#AAO,2016-05-31,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
104,#AAO,2016-06-01,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
105,#AAO,2016-06-02,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
106,#AAO,2016-06-03,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
107,#AAO,2016-06-06,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
108,#AAO,2016-06-07,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
109,#AAO,2016-06-08,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
110,#AAO,2016-06-09,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
111,#AAO,2016-06-10,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
112,#AAO,2016-06-13,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
113,#AAO,2016-06-14,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
114,#AAO,2016-06-15,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
115,#AAO,2016-06-16,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN
116,#AAO,2016-06-17,AAON,2016-03-31,2016-05-06,0.1467,0.1333,0.0,0.0,USD,0.0,6.1223,79.6,NaN

In [223]:
len(zacks_check_tickers)

1506

In [236]:
type(zacks_daily_df['filing_date'][87])

pandas._libs.tslibs.timestamps.Timestamp

In [226]:
daily_close_df = fetch_quandl_table('QUOTEMEDIA/PRICES', avoid_download=True, ticker=zacks_check_tickers, date={'gte': start_date_str, 'lte': end_date_str})
daily_close_df['date'] = pd.to_datetime(daily_close_df['date'], format='%Y-%m-%d')
daily_close_df.head(30)

Data file C:\Users\joshw\OneDrive\Desktop\UChicago\FINM_33150_quantitative_trading_strategies\data\quandl_data_table_downloads\QUOTEMEDIA/PRICES_20240201.zip size 92177394 exists already, no need to download

,ticker,date,open,high,low,close,volume,dividend,split,adj_open,adj_high,adj_low,adj_close,adj_volume
0,AA,2016-11-01,22.10,23.5500,21.7800,23.00,32216510.0,0.0,1.0,21.640207,23.060040,21.326865,22.521483,32216510.0
1,AA,2016-11-02,22.67,23.2650,22.6358,22.91,10755328.0,0.0,1.0,22.198349,22.780970,22.164860,22.433355,10755328.0
2,AA,2016-11-03,22.96,24.3493,22.9400,24.15,8083097.0,0.0,1.0,22.482315,23.842711,22.462731,23.647557,8083097.0
3,AA,2016-11-04,23.82,25.5000,23.5600,25.20,6878500.0,0.0,1.0,23.324423,24.969470,23.069832,24.675712,6878500.0
4,AA,2016-11-07,25.54,26.4100,24.8900,25.08,8377025.0,0.0,1.0,25.008638,25.860538,24.372161,24.558208,8377025.0
5,AA,2016-11-08,24.30,26.5900,24.3000,26.40,6469979.0,0.0,1.0,23.794436,26.036793,23.794436,25.850746,6469979.0
6,AA,2016-11-09,26.83,29.1400,26.0000,28.72,10675856.0,0.0,1.0,26.271799,28.533740,25.459068,28.122478,10675856.0
7,AA,2016-11-10,29.08,29.7000,28.3000,29.10,8189887.0,0.0,1.0,28.474988,29.082089,27.711216,28.494572,8189887.0
8,AA,2016-11-11,29.18,29.9900,27.6300,29.30,5337239.0,0.0,1.0,28.572907,29.366055,27.055155,28.690411,5337239.0
9,AA,2016-11-14,29.50,29.9400,28.6100,29.62,5156737.0,0.0,1.0,28.886250,29.317096,28.014766,29.003753,5156737.0
10,AA,2016-11-15,28.94,30.2300,28.8300,30.21,3668883.0,0.0,1.0,28.337901,29.601062,28.230189,29.581478,3668883.0
11,AA,2016-11-16,29.69,31.6900,29.6600,31.42,6150098.0,0.0,1.0,29.072297,31.030687,29.042921,30.766304,6150098.0
12,AA,2016-11-17,31.30,32.0200,30.7700,31.85,4693203.0,0.0,1.0,30.648801,31.353821,30.129827,31.187358,4693203.0
13,AA,2016-11-18,31.73,31.7700,30.1600,30.42,4421730.0,0.0,1.0,31.069854,31.109022,29.532518,29.787109,4421730.0
14,AA,2016-11-21,30.89,30.9800,29.5010,30.69,2986107.0,0.0,1.0,30.247331,30.335458,28.887229,30.051492,2986107.0
15,AA,2016-11-22,31.10,31.9100,30.5400,31.34,4182721.0,0.0,1.0,30.452962,31.246110,29.904612,30.687968,4182721.0
16,AA,2016-11-23,31.00,31.9300,30.0000,31.51,4112265.0,0.0,1.0,30.355042,31.265693,29.375847,30.854432,4112265.0
17,AA,2016-11-25,31.24,32.1900,31.1100,31.70,3109628.0,0.0,1.0,30.590049,31.520284,30.462754,31.040479,3109628.0
18,AA,2016-11-28,31.48,31.8000,30.7000,30.86,5121935.0,0.0,1.0,30.825056,31.138398,30.061284,30.217955,5121935.0
19,AA,2016-11-29,30.02,30.4999,29.7300,29.73,4927708.0,0.0,1.0,29.395431,29.865347,29.111465,29.111465,4927708.0
20,AA,2016-11-30,30.06,30.4400,28.8500,28.97,5131539.0,0.0,1.0,29.434599,29.806693,28.249773,28.367276,5131539.0
21,AA,2016-12-01,28.84,29.4200,28.6000,28.88,5006186.0,0.0,1.0,28.239981,28.807914,28.004974,28.279149,5006186.0
22,AA,2016-12-02,28.86,29.6250,28.7300,29.04,3870676.0,0.0,1.0,28.259565,29.008649,28.132270,28.435820,3870676.0
23,AA,2016-12-05,29.03,31.2768,28.8900,31.22,7034136.0,0.0,1.0,28.426028,30.626083,28.288941,30.570465,7034136.0
24,AA,2016-12-06,30.71,31.1900,30.2100,31.15,3248595.0,0.0,1.0,30.071076,30.541089,29.581478,30.501921,3248595.0
25,AA,2016-12-07,31.30,31.8900,30.7653,30.90,5778259.0,0.0,1.0,30.648801,31.226526,30.125225,30.257123,5778259.0
26,AA,2016-12-08,31.28,31.8400,30.8000,31.31,3064978.0,0.0,1.0,30.629217,31.177566,30.159203,30.658593,3064978.0
27,AA,2016-12-09,31.31,32.1100,31.0400,32.05,4344295.0,0.0,1.0,30.658593,31.441948,30.394210,31.383197,4344295.0
28,AA,2016-12-12,32.16,32.3500,30.8500,31.24,3416012.0,0.0,1.0,31.490908,31.676955,30.208163,30.590049,3416012.0
29,AA,2016-12-13,31.40,31.7300,30.0300,30.24,4215143.0,0.0,1.0,30.746720,31.069854,29.405223,29.610854,4215143.0

In [235]:
type(daily_close_df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [229]:
# Step 1: Find matching tickers
matching_tickers = set(daily_close_df['ticker']).intersection(set(zacks_daily_df['ticker']))

# Step 2: For matching tickers, check if all old_df dates are in new_df dates for each ticker
tickers_with_all_dates_matched = []

for ticker in matching_tickers:
    # Filter each DataFrame by the current ticker
    daily_close_dates = set(daily_close_df[daily_close_df['ticker'] == ticker]['date'])
    zacks_daily_dates = set(zacks_daily_df[zacks_daily_df['ticker'] == ticker]['daily_date'])
    
    # Check if all old_dates are in new_dates
    if zacks_daily_dates.issubset(daily_close_dates):
        tickers_with_all_dates_matched.append(ticker)

In [230]:
len(tickers_with_all_dates_matched)

0

In [231]:
len(matching_tickers)

1278

In [228]:
len(zacks_daily_df['ticker'].unique().tolist())

2102

In [227]:
len(daily_close_df['ticker'].unique().tolist())

1432

In [ ]:
random.seed(99)

trading_universe = ['LLY']
tickers_with_all_dates_matched = tickers_with_all_dates_matched.remove('LLY')

trading_universe += random.sample(tickers_with_all_dates_matched, 199)
print(trading_universe)

In [ ]:
zacks_df = zacks_df.loc[zacks_df['m_ticker'].isin(trading_universe)]

In [183]:
print(len(daily_close_df['ticker'].unique().tolist()) == len(trading_universe))
print(len(daily_close_df['ticker']) == len(zacks_daily_df['m_ticker']))
print(len(daily_close_df['ticker'].unique().tolist()))

False
False
186

In [54]:
merge2_same_merge_date_count, merge2_same_merge_date_tickers = same_merge_date(zacks_df, shares_out_df)

In [55]:
merge2_same_merge_date_count

0

In [ ]:
zacks_df = pd.merge(zacks_df, shares_out_df[['m_ticker', 'per_end_date', 'shares_out']], on=['m_ticker', 'per_end_date'], how='left')

In [15]:
same_merge_date_count, same_merge_date_tickers = same_merge_date(zacks_df, mktv_df)

In [31]:
zacks_df = zacks_df.loc[zacks_df['m_ticker'].isin(same_merge_date_tickers)]
mktv_df = mktv_df.loc[mktv_df['m_ticker'].isin(same_merge_date_tickers)]
zacks_df = pd.merge(zacks_df, mktv_df[['m_ticker', 'per_end_date', 'mkt_val']], on=['m_ticker', 'per_end_date'], how='left')
print(len(zacks_df['m_ticker'].unique().tolist()))
print(len(same_merge_date_tickers))
zacks_df = zacks_df.sort_values(by=['m_ticker', 'per_end_date'], ascending=[True, True])

zacks_df.head(30)

1555
1555

,m_ticker,ticker,per_end_date,per_type,filing_date,eps_diluted_net,basic_net_eps,net_lterm_debt,tot_lterm_debt,currency_code,tot_debt_tot_equity,ret_invst,shares_out,mkt_val_x,mkt_val_y
0,#AAO,AAON,2016-03-31,Q,2016-05-05,0.1467,0.1333,0.000,NaN,USD,NaN,6.1223,79.60,1485.93,1485.93
1,#AAO,AAON,2016-06-30,Q,2016-08-04,0.1800,0.1800,0.000,NaN,USD,NaN,7.5519,79.54,1458.66,1458.66
2,#AAO,AAON,2016-09-30,Q,2016-11-03,0.1933,0.2000,0.000,NaN,USD,NaN,7.6581,79.39,1525.30,1525.30
3,#AAO,AAON,2016-12-31,Q,2017-02-23,0.1467,0.1467,0.000,NaN,USD,NaN,5.5455,79.13,1743.55,1743.55
4,#AAO,AAON,2017-03-31,Q,2017-05-04,0.1267,0.1267,0.000,NaN,USD,NaN,4.8240,78.94,1860.47,1860.47
5,#AAO,AAON,2017-06-30,Q,2017-08-03,0.1733,0.1733,0.000,NaN,USD,NaN,6.3349,78.94,1939.42,1939.42
6,#AAO,AAON,2017-09-30,Q,2017-11-02,0.1867,0.1867,0.000,NaN,USD,NaN,6.3904,78.90,1813.51,1813.51
7,#AAO,AAON,2017-12-31,Q,2018-02-27,0.1867,0.2000,0.000,NaN,USD,NaN,6.3661,78.70,1925.59,1925.59
8,#AAO,AAON,2018-03-31,Q,2018-05-03,0.0533,0.0533,0.000,NaN,USD,NaN,1.7779,78.64,2044.77,2044.77
9,#AAO,AAON,2018-06-30,Q,2018-08-02,0.1467,0.1467,0.000,NaN,USD,NaN,4.9032,78.54,1741.04,1741.04
10,#AAO,AAON,2018-09-30,Q,2018-11-01,0.1800,0.1800,0.000,NaN,USD,NaN,5.6424,78.14,1969.17,1969.17
11,#AAO,AAON,2018-12-31,Q,2019-02-28,0.1533,0.1600,0.000,NaN,USD,NaN,4.9282,78.14,1826.43,1826.43
12,#AAO,AAON,2019-03-31,Q,2019-05-02,0.1133,0.1400,0.000,NaN,USD,NaN,3.3763,78.11,2404.65,2404.65
13,#AAO,AAON,2019-06-30,Q,2019-08-01,0.1667,0.1667,0.000,NaN,USD,NaN,5.0614,78.16,2614.73,2614.73
14,#AAO,AAON,2019-09-30,Q,2019-10-31,0.1733,0.1800,0.000,NaN,USD,NaN,5.1115,78.15,2393.36,2393.36
15,#AAO,AAON,2019-12-31,Q,2020-02-27,0.2267,0.2200,6.614,NaN,USD,NaN,5.9533,78.15,2574.14,2574.14
16,#AAO,AAON,2020-03-31,Q,2020-05-07,0.2733,0.2800,0.000,NaN,USD,NaN,7.1340,78.08,2515.12,2515.12
17,#AAO,AAON,2020-06-30,Q,2020-08-06,0.2267,0.2267,0.000,NaN,USD,NaN,5.5173,78.05,2824.79,2824.79
18,#AAO,AAON,2020-09-30,Q,2020-11-05,0.2533,0.2600,0.000,NaN,USD,NaN,5.9323,78.39,3148.77,3148.77
19,#AAO,AAON,2020-12-31,Q,2021-02-25,0.2400,0.2400,0.000,NaN,USD,NaN,5.3844,78.36,3480.89,3480.89
20,#AAO,AAON,2021-03-31,Q,2021-05-06,0.2000,0.2067,0.000,NaN,USD,NaN,4.3899,78.62,3669.32,3669.32
21,#AAO,AAON,2021-06-30,Q,2021-08-05,0.2533,0.2600,0.000,NaN,USD,NaN,5.3723,78.65,3281.92,3281.92
22,#AAO,AAON,2021-09-30,Q,2021-11-04,0.1933,0.2000,0.000,NaN,USD,NaN,3.8925,78.61,3424.06,3424.06
23,#AAO,AAON,2021-12-31,Q,2022-02-28,0.0800,0.0800,0.000,40.000,USD,0.0858,1.2221,78.64,4164.36,4164.36
24,#AAO,AAON,2022-03-31,Q,2022-05-05,0.2200,0.2267,0.000,65.000,USD,0.1354,3.3126,78.86,2929.75,2929.75
25,#AAO,AAON,2022-06-30,Q,2022-08-08,0.2000,0.2000,-0.028,106.249,USD,0.2166,2.6721,79.61,2906.18,2906.18
26,#AAO,AAON,2022-09-30,Q,2022-11-07,0.3400,0.3467,-0.115,76.291,USD,0.1456,4.5777,79.74,2864.19,2864.19
27,#AAO,AAON,2022-12-31,Q,2023-02-27,0.4800,0.4867,-0.115,71.004,USD,0.1266,6.1575,79.80,4006.99,4006.99
28,#AAO,AAON,2023-03-31,Q,2023-05-04,0.4467,0.4600,0.000,83.664,USD,0.1373,5.3117,81.19,5233.39,5233.39
29,#AAO,AAON,2023-06-30,Q,2023-08-03,0.5467,0.5600,6.061,78.536,USD,0.1190,6.1846,81.45,5148.18,5148.18

In [19]:
merged_valid_tickers, merged_valid_tickers_count, merged_invalid_lens = valid_tickers(zacks_df, same_merge_date_tickers)
print(merged_valid_tickers_count)

1555

In [58]:
mktv_df.head(30)

    m_ticker ticker per_end_date per_type  mkt_val
959     #AAO   AAON   2016-03-31        Q  1485.93
958     #AAO   AAON   2016-06-30        Q  1458.66
957     #AAO   AAON   2016-09-30        Q  1525.30
956     #AAO   AAON   2016-12-31        Q  1743.55
955     #AAO   AAON   2017-03-31        Q  1860.47
954     #AAO   AAON   2017-06-30        Q  1939.42
953     #AAO   AAON   2017-09-30        Q  1813.51
952     #AAO   AAON   2017-12-31        Q  1925.59
951     #AAO   AAON   2018-03-31        Q  2044.77
950     #AAO   AAON   2018-06-30        Q  1741.04
949     #AAO   AAON   2018-09-30        Q  1969.17
948     #AAO   AAON   2018-12-31        Q  1826.43
947     #AAO   AAON   2019-03-31        Q  2404.65
946     #AAO   AAON   2019-06-30        Q  2614.73
945     #AAO   AAON   2019-09-30        Q  2393.36
944     #AAO   AAON   2019-12-31        Q  2574.14
943     #AAO   AAON   2020-03-31        Q  2515.12
942     #AAO   AAON   2020-06-30        Q  2824.79
941     #AAO   AAON   2020-09-30        Q  3148.77
940     #AAO   AAON   2020-12-31        Q  3480.89
939     #AAO   AAON   2021-03-31        Q  3669.32
938     #AAO   AAON   2021-06-30        Q  3281.92
937     #AAO   AAON   2021-09-30        Q  3424.06
936     #AAO   AAON   2021-12-31        Q  4164.36
935     #AAO   AAON   2022-03-31        Q  2929.75
934     #AAO   AAON   2022-06-30        Q  2906.18
933     #AAO   AAON   2022-09-30        Q  2864.19
932     #AAO   AAON   2022-12-31        Q  4006.99
931     #AAO   AAON   2023-03-31        Q  5233.39
930     #AAO   AAON   2023-06-30        Q  5148.18

In [182]:
print(len(ratio_df['m_ticker'].unique()))
print(len(fundamental_df['m_ticker'].unique()))
print(len(shares_out_df['m_ticker'].unique()))
print(len(mktv_df['m_ticker'].unique()))
print(len(description_unique_ticker))

5173
5173
5173
5173
6122